.vehicle-component {
  padding: 0 20px;
}

.vehicle-display {
  display: flex;
  flex-wrap: wrap;
}

.vehicle-card {
  background: #dadada;
  border: 2px solid #020202;
  width: 23%;
  margin: 1%;
  padding: 10px;
  border-radius: 6px;
  font-size: 18px;
}

.vehicle-card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #B80F0F;
}

.vehicle-card .card-header h1 {
  margin: 0;
  color: #B80F0F;
  font-size: 24px;
}

.vehicle-card .label {
  font-weight: bold;
}

.fav-btn {
  cursor: default;
  font-size: 30px;
}
.fav-btn:hover {
  cursor: pointer;
}
