.type-selector {
  background: hsl(45,62%,48%);
  display: flex;
  justify-content: center;
  padding: 20px;
}

.type-selector button {
  margin: 0 20px;
  border: none;
  width: 100px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  background: yellow;
}

.type-selector button:hover {
  cursor: pointer;
}
