.main {
  width: 75%;
  background: #f5f5f5;
  overflow: scroll;
  height: 100vh;
}

.main-header {
  /*display: flex;*/
  /*flex-direction: row;*/
  text-align: center;
  background: #f5f5f5;
  width: 100%;
}

.main-header h1 a {
  font-size: 60px;
  color: #b80f0f;
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  margin: 0;
}
