.main {
  width: 75%;
  background: lime;
  overflow: scroll;
  height: 100vh;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: hsl(320,81%,36%);
  width: 100%;
}

.main-header h1 {
  font-size: 50px;
  margin: 20px auto;
}
