.favorites-viewer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.all-favs-button {
  height: 50px;
  width: 180px;
  background: #020202;
  border: none;
  border-radius: 6px;
  font-size: 18px;
}
.all-favs-button:hover {
  cursor: pointer;
  background: #393939;
}

.fav-count {
  font-weight: bold;
  color: gold;
}

.fav-count-label {
  font-weight: bold;
  color: gold;
}
